name: e2e tests

on:
  push:
  pull_request:

env:
  ECS_PRESERVE_E2E_TEST_LOGS: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: '1.19.x'
      - name: pretest
        run: |
          ip link show
          sudo ip link add eth1 type dummy
          sudo ip link set dev eth1 mtu 9001
          sudo ip link set dev eth1 up
          ip link show
          sudo ip link add eth2 type dummy
          sudo ip link set dev eth2 mtu 9001
          sudo ip link set dev eth2 up
          ip link show
      - name: test
        run: make e2e-test
      - name: upload failed test artifacts
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: testlogs
          path: /tmp/*-e2eTests-*/*
